<div class="row sticky-top text-center justify-content-center">
    <div class="col">
        <div class="row text-center justify-content-center">
            <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                <div class="header">
                    <a href="/">
                        <img class="img-thumbnail img-fluid rounded" src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.params.name }}">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                <a href="/" alt="{{ site.params.name }}"><h3>{{ site.params.name }}</h3></a>
                <p class="tagline">{{ site.params.tagline }}</p>
                <ul class="social list-unstyled list-inline">
                    {% if site.params.social_links.github %}
                    <li class="list-inline-item">
                        <a href="https://github.com/{{ site.params.social_links.github }}" target="_blank" rel="noopener">
                            <img class="img-fluid" width="30" src="/assets/images/github.png" alt="https://github.com/{{ site.params.social_links.github }}"/>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.params.social_links.linkedIn %}
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/{{ site.params.social_links.linkedIn }}" target="_blank" rel="noopener">
                            <img class="img-fluid" width="34" src="/assets/images/linkedin.png" alt="https://www.linkedin.com/{{ site.params.social_links.linkedIn }}"/>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.params.social_links.twitter %}
                    <li class="list-inline-item">
                        <a href="https://twitter.com/{{ site.params.social_links.twitter }}" target="_blank" rel="noopener">
                            <img class="img-fluid" width="29" src="/assets/images/twitter.png" alt="https://twitter.com/{{ site.params.social_links.twitter }}"/>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.params.social_links.instagram %}
                    <li class="list-inline-item">
                        <a href="https://instagram.com/{{ site.params.social_links.instagram }}" target="_blank" rel="noopener">
                            <img class="img-fluid" width="29" src="/assets/images/instagram.png" alt="https://instagram.com/{{ site.params.social_links.instagram }}"/>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-none d-sm-block d-md-block d-lg-block">
                    {% if site.tags.size > 0 %}
                        <div class="tags text-center">
                            <h3 class="tags-header">tags</h3>
                            <div class="tags-cloud">
                                {% for tag in site.tags %}
                                    <a href="/tags/{{ tag[0] }}" class="tag-title text-wrap">
                                        {{- tag[0] -}}
                                        <span class="badge badge-pill">{{- tag[1].size -}}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            
        </div>
    </div>
</div>
