<div class="row sticky-top text-center justify-content-center">
    <div class="col">
        <div class="row text-center justify-content-center">
            <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                <div class="header">
                    <a href="/">
                        <img class="img-thumbnail img-fluid rounded" src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.params.name }}">
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                <a href="/" alt="{{ site.params.name }}"><h3>{{ site.params.name }}</h3></a>
                <p class="tagline">{{ site.params.tagline }}</p>
                <ul class="social list-unstyled list-inline">
                    {% if site.params.social_links.github %}
                    <li class="list-inline-item">
                        <a href="https://github.com/{{ site.params.social_links.github }}" target="_blank" rel="noopener">
                            <img class="img-fluid" width="30" height="30" src="/assets/images/github.png" alt="https://github.com/{{ site.params.social_links.github }}"/>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.params.social_links.linkedIn %}
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/{{ site.params.social_links.linkedIn }}" target="_blank" rel="noopener">
                            <img class="img-fluid" width="34" height="30" src="/assets/images/linkedin.png" alt="https://www.linkedin.com/{{ site.params.social_links.linkedIn }}"/>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.params.social_links.twitter %}
                    <li class="list-inline-item">
                        <a href="https://twitter.com/{{ site.params.social_links.twitter }}" target="_blank" rel="noopener">
                            <img class="img-fluid" width="30" height="30" src="/assets/images/twitter.png" alt="https://twitter.com/{{ site.params.social_links.twitter }}"/>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.params.social_links.instagram %}
                    <li class="list-inline-item">
                        <a href="https://instagram.com/{{ site.params.social_links.instagram }}" target="_blank" rel="noopener">
                            <img class="img-fluid" width="30" height="30" src="/assets/images/instagram.png" alt="https://instagram.com/{{ site.params.social_links.instagram }}"/>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-none d-sm-block d-md-block d-lg-block">
                    {% if site.categories.size > 0 %}
                        <div class="categories-section">
                            <h3 class="categories-header">
                                <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="category-icon">
                                    <path d="M2 2h4v4H2V2zm6 0h6v4H8V2zM2 8h4v4H2V8zm6 0h6v4H8V8z" fill="currentColor"/>
                                </svg>
                                Categories
                            </h3>
                            <div class="categories-list">
                                {% for category in site.categories %}
                                    <a href="/categories/{{ category[0] }}/" class="category-pill">
                                        <span class="category-name">{{- category[0] | replace: '-', ' ' | capitalize -}}</span>
                                        <span class="category-count">{{- category[1].size -}}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if site.tags.size > 0 %}
                        <div class="tags-section">
                            <h3 class="tags-header">
                                <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="tag-icon">
                                    <path d="M2 1h8l4 4v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" stroke="currentColor" stroke-width="1.5" fill="none"/>
                                    <path d="M6 1v4h4" stroke="currentColor" stroke-width="1.5" fill="none"/>
                                </svg>
                                Tags
                            </h3>
                            <div class="tags-cloud">
                                {% for tag in site.tags %}
                                    {% if tag[1].size >= 2 %}
                                        <a href="/tags/{{ tag[0] }}" class="tag-pill">
                                            <span class="tag-name">{{- tag[0] -}}</span>
                                            <span class="tag-count">{{- tag[1].size -}}</span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            
        </div>
    </div>
</div>
