{% if page.layout == "post" or page.layout == "page" or page.layout == "category" %}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ site.url }}">Home</a>
    </li>
    {% if page.layout == "post" %}
    {% if page.categories.size > 0 %}
    <li class="breadcrumb-item">
      <a href="{{ site.url }}/categories/{{ page.categories[0] }}/">{{ page.categories[0] | replace: '-', ' ' | capitalize }}</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    {% elsif page.layout == "page" or page.layout == "category" %}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    {% endif %}
  </ol>
</nav>
{% endif %}
