{% if page.layout == "post" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.description | default: page.excerpt | strip_html | strip_newlines | truncate: 160 | escape }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.image | default: site.logo | absolute_url }}",
    "width": "1200",
    "height": "630"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "url": "{{ site.url }}{{ '/about/' }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo | absolute_url }}",
      "width": "600",
      "height": "60"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "keywords": "{{ page.tags | join: ', ' }}",
  "articleBody": {{ content | strip_html | jsonify }},
  "timeRequired": "PT{{ content | number_of_words | divided_by: 200 }}M",
  "wordCount": "{{ content | number_of_words }}",
  "inLanguage": "en-US",
  "isAccessibleForFree": "True",
  "isPartOf": {
    "@type": "Blog",
    "@id": "{{ site.url }}/#blog"
  }
}
</script>
{% endif %}
