<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "logo": "{{ site.logo | absolute_url }}",
  "description": "{{ site.description | strip_html | strip_newlines | escape }}",
  "founder": {
    "@type": "Person",
    "name": "{{ site.author.name }}"
  },
  "sameAs": [
    "https://twitter.com/MinaNabilSami",
    "https://www.linkedin.com/in/mnsami",
    "https://github.com/mnsami",
    "https://instagram.com/minansami"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "{{ site.email }}",
    "contactType": "Consulting & Mentorship"
  }
}
</script>
