body {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    padding: 0px;
}

.footer {
    background-color: #fcfcfc;
}

.content {
    margin: 5% 0px;
}

img {
    max-width: 100%;
}

.card {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    padding: 1%;
    margin-bottom: 1%;
}

.card:last-child {
    border-bottom: 0;
}

.card-body {
    padding: 0;
    padding-bottom: 1%;
}

.main-content {
    margin-top: 2%;
}

.profile a,
.main-content a {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #007bff;
}

.social a,
.tags a {
    border: none;
}

.list-inline-item:not(:last-child) {
    margin: 1%;
}

.social {
    flex-wrap: nowrap;
}

.social li {
    color: #000;
}

.tags-cloud .tag-title {
    padding: 2%;
    background-color: bisque;
    display: inline-block;
    margin: 1%;
}

.posts .tags-cloud {
    margin: 0px;
}

.posts .tags-cloud .tag-title {
    margin: 0px;
    padding: 1%;
}

.blockquote {
    font-size: inherit;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
