body {
    font-family: 'Roboto', sans-serif;
}

.content {
    margin: 10% 0px;
}

img {
    max-width: 100%;
}

/* .main-content a {
    color: #6610f2;
    text-decoration: none;
    padding-bottom: 1px;
	border-bottom: 1px solid #6610f2;
}

.main-content a:hover {
    color: #0056b3;
    text-decoration: none;
    padding-bottom: 1px;
	border-bottom: 1px solid #0056b3;
} */

/* a hover => #0056b3 */
/* a => 007bff */

.profile a,
.main-content a {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #007bff;
}

.social a,
.tags a {
    border: none;
}

.about {
    max-width: 100%;
}

.social {
    flex-wrap: nowrap;
}

.social li {
    color: #000;
}

main .about h2.tags-header {
    margin: 0px;
}

.tags-cloud {
    margin: 5%;
}

.tags-cloud .tag-title {
    padding: 3%;
    background-color: bisque;
    display: inline-block;
    margin: 2%;
}
