---
layout: default
---

{{ content }}

<h1 class="lead text-uppercase">posts</h1>

{% if site.posts.size > 0 %}
    <div class="posts list-group list-group-flush">
        {% for post in site.posts %}
            <a href="{{ post.url | relative_url }}" alt="{{ post.title | escape }}" class="list-group-item list-group-item-action">
                <h2 class="card-title">{{ post.title | escape }}</h2>
                <p>
                    <img width="28" src="/assets/images/calendar-icon.png" alt='{{ post.date | date: "%b %-d, %Y" }}' />
                    {{ post.date | date: "%b %-d, %Y" }}
                </p>
                {% if site.show_excerpts %}
                    <div class="mb-1">{{ post.excerpt }}</div>
                {% endif %}
                {% if post.tags.size > 0 %}
                    <div class="tags">
                        <div class="tags-cloud">
                            Tags: 
                            {% for postTag in post.tags%}
                                <a class="tag-title" href="/tags/{{ postTag }}">{{ postTag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endif %}
