---
layout: default
---

{{ content }}

<h1 class="lead text-uppercase">posts</h1>

{% if site.posts.size > 0 %}
    <div class="posts">
        {% for post in site.posts %}
            <div class="card">
                <div class="card-body">
                    <a href="{{ post.url | relative_url }}" alt="{{ post.title | escape }}" class="card-link">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <img width="28" src="/assets/images/calendar-icon.png" alt='{{ post.date | date: "%b %-d, %Y" }}' />
                        {{ post.date | date: "%b %-d, %Y" }}
                    </h6>
                    {% if site.show_excerpts == true %}
                        <p class="card-text">
                            {{- post.excerpt | remove: '<p>' | remove: '</p>' -}}
                        </p>
                    {% endif %}
                </div>
                <div class="card-body">
                    <a href="{{ post.url | relative_url }}" alt="{{ post.title | escape }}" class="card-link">Continue reading</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
