---
layout: default
---

<div class="post">
    <h1 class="post-title">{{- page.title -}}</h1>
    <p>
        <img width="28" src="/assets/images/calendar-icon.png" alt='{{ page.date | date: "%b %-d, %Y" }}'/>
        {{- page.date | date: "%b %-d, %Y" -}}
    </p>
    <div class="post-body">
        {{- content -}}
    </div>
    <hr/>
    <div class="post-tags">
        Tags:
        {% for postTag in page.tags %}
            <a href="/tags/{{ postTag }}" alt="{{- postTag -}}">{{- postTag -}}</a> 
        {% endfor %}
    </div>
</div>

<!-- code highlighter -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/styles/atom-one-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
